.init_container {
    display: flex;
    flex-direction: row;
    width: 1150px    ;
    height: 450px;
    margin: 150px 129px;
    background-color: white;
    color: black;
    gap: 5px;

}


.image img {
    width: 649px;
    height: 522px;
}

.text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 188px;
    
    margin-top: 15%;

}

.text h1 {
    font-size: 5rem;
    font-weight: 800;
}

