
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --red: #D01C28;
    --gray: #2E2E2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    
    
}
.container {
    max-width: 100vw;
    margin: 50px auto;
    
}


